.home-container {
    height: 100vh;
}

.home {
  max-width: 800px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0rem 1rem;
}

.home > h1 {
  font-size: 64px;
  color: white;
  font-weight: normal;
  letter-spacing: 3px;
  margin-top: 1rem;
}

.home > h2 {
  font-size: 28px;
  color: white;
  font-weight: lighter;
  letter-spacing: 4px;
  margin-top: 1rem;
}

.home > p {
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-top: 1rem;
}

.home_btns {
  border: white solid 1px;
  background-color: transparent;
  color: white;
  padding: 10px 50px;
  margin: 0 10px;
}

.home_btns-active {
  border: white solid 1px;
  background-color: transparent;
  color: white;
  padding: 10px 50px;
  margin: 0 10px;
  background-color: rgb(26, 108, 122);
}

.home_btns:hover {
  transform: scale(1.05);
  color: rgb(0, 0, 0);
  background-color: rgb(26, 108, 122);
}
